body {
    margin: 0;
    /* --primary-colour: #EEF2A6; */
    --background-color: #040404;
    --card-background-color: #141414;
    --lighter-card-background-color: #242424;
    --link-hover-color: #4BFB68;
    --accent-colour: #4BFB68;
    --dark-accent-color:  #4afa67c4;
    --text-colour: #C3FECD;
    --default-small-text-size: 1vw;
    --default-medium-text-size: 3vw;

}

* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body { 
    margin:0; 
    padding:0; 
}

html,body { margin: 0px; padding: 0px; }

#full { 
    background: var(--background-color); 
    min-height: 100vh;
    height: auto;
}

p {
    color: white;
    font-size: var(--default-small-text-size);
}

.page-background {
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.site-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card-background-color);
    color: var(--accent-colour);
    padding-top: 0.5rem;
    width: 100vw;
}

.site-banner-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card-background-color);
    color: var(--accent-colour);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    width: 100vw;
    margin: 0rem;
}

.bannerTitle {
    font-size: 1.5rem;
    color: var(--accent-colour);
    padding-top: 1rem;
    padding-bottom: 0.2rem;
}

.bannerSubtitle {
    font-size: 1rem;
    color: var(--text-colour);
    padding: 0rem;
    margin: 0rem;
}
.bannerSubtitle:hover {
    color: var(--link-hover-color);
    text-decoration-color: var(--link-hover-color);
}

.site-banner-icon {
    color: var(--accent-colour);
    size: 5rem;
    padding-top: 2rem;
    /* background-color: var(--accent-colour); */
}

.headingLink:hover {
    color: var(--link-hover-color);
}

.textLink {
    text-decoration: underline;
    text-decoration-color: var(--text-colour);
    color: var(--text-colour);
}

.textLink:hover {
    color: var(--link-hover-color);
    text-decoration-color: var(--link-hover-color);
}

.title {
    font-size: 2rem;
    color: var(--accent-colour);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.login-card {
    background-color: var(--card-background-color);
    border-radius: 2px;
    border-width: 1px;
    box-shadow: 1px 1px 3px 3px grey;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 15vw;
    margin-bottom: 15vw;
}

.login-input {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem
}


.form-card {
    background-color: var(--card-background-color);
    border-radius: 2px;
    border-width: 1px;
    box-shadow: 1px 1px 3px 3px grey;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}
.form-button {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem; 
    border: none;
    padding: 0.25rem 0.5rem;
    /* /* border-color: var(--accent-colour); */
    background-color: var(--dark-accent-color);
    color:white;
    border-radius: 10px;  
}

.delete-button {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem; 
    border: none;
    padding: 0.25rem 0.5rem;
    background-color: darkred;
    color:white;
    border-radius: 10px;  
}

.delete-button:hover {
    cursor: pointer;
    background-color: red;
    border: 1px;
}

.form-button:disabled {
    background-color: grey;
}

.form-button:disabled:hover {
    background-color: grey;
}

.form-button:hover {
    cursor: pointer;
    background-color: var(--accent-colour);
    border: 1px;
}

.formErrorMessage {
    font-size: 1em;
    color: red;
}

.link-card:hover {
    border-width: "2.5vw";
    border-color: var(--link-hover-color);
    border-style: solid;
}

.form-input {
    display: flex;
    flex-direction: row;
    justify-content: "space-between";
    background-color: white;
    /* color: var(--accent-colour); */
}

.standard-form-label {
    color: var(--text-colour);
    padding-right: "2rem";
}

.muscle-group-card {
    background-color: var(--accent-colour);
    color: var(--card-background-color);
    border-radius: 5px;
    height: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.1rem;
    padding-bottom: 0.15rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;

}

.session-table {
    display: block;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 3px 3px white;
    border-radius: 10px;
    white-space: nowrap;
    width: 80vw;
    /* margin: auto; */
    overflow-x: auto;
    color: var(--card-background-color);
    margin-bottom: "4rem";
    margin-top: "4rem";

}

.session-table thead {
    color: var(--accent-colour);
    background-color:var(--card-background-color);
  }
  
  .session-table th,
  .session-table td {
    padding: 0.8rem;
  }
  
  .session-table td {
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
  }

  .session-table tbody tr {
    background-color: var(--card-background-color);
  }
  
  .session-table tbody tr:hover {
    background-color: var(--lighter-card-background-color);
  }

.actions-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.actions-col svg {
    cursor: pointer;
}

.delete-btn {
    color: darkred;
    margin-right: 3px;
    margin-left: 3px;
}
.delete-btn:hover {
    color: red
}

.edit-btn {
    margin-right: 3px;
    margin-left: 3px;
    color: var(--text-colour);
}

.edit-btn:hover {
    color: var(--accent-colour)
}

.modal-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #bbbbbb; 
    opacity: 0.9; 

}

.modal {
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--card-background-color);
    color: var(--text-colour);
    width: 50vw;
    opacity: 1;
    display: grid;
    grid-template-columns: 7fr 10px;

}

.modal-title {
    font-size: 1.5rem;
    color: var(--accent-colour);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}